body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.employee-list-wrapper{
  position:relative;
  width:100%;
  margin:0 auto;
}
.employee-container{
  width: 90%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-content: center;
  background-color: grey;
  margin:0 auto;
}
/* .employee-item{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding:35px;
  margin:10px;
  height: 180px;
  border-radius:8px 8px 8px 8px;
  position:relative;
}
.employee-item .avatar, .employee-item .controls{
  width:15%;
  display:inline-block;
}
.employee-item .info{
  justify-content:flex-start ;
  flex-wrap:wrap;
  width:60%;
  user-select: none;
}
.employee-item .avatar img{
  width:150px;
  height: 150px;
  cursor: pointer;
}
.employee-item .controls{
  width:20%
}
.preview{
  width:500px;
  height: 500px;
  transition:ease-in-out 1s linear;
  background-color: black;
  z-index:1000;
  position:fixed;
  margin:0 auto;
  overflow:hidden;
  top:25%;
  left:25%;
  bottom:25%;
  right:25%;
  object-fit: cover;
  -webkit-box-shadow: -1px 2px 8px 0px rgba(53,54,52,1);
  -moz-box-shadow: -1px 2px 8px 0px rgba(53,54,52,1);
  box-shadow: -1px 2px 8px 0px rgba(53,54,52,1);
  cursor: pointer;
}

@media all and (max-width:680px){
  .employee-container{
    width:95%;
  }
  .employee-item{
    flex-direction:column;
    height: auto;
    min-height: 300px;
  }
  .employee-item .info{
    overflow:scroll;
  }
  .employee-item .avatar, .employee-item .info{
    width:100%;
    margin:10px;
  }
  .preview{
    width: 95%;
    height:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:8px;
    box-shadow: cornflowerblue;
  }
} */